{% extends "layouts/app.html" %}

{% block content %}
<style>
    .table {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%; /* Asegurar que la tabla tenga un ancho completo */
    }

    .header-row, .row {
        display: flex;
        border: 1px solid #ddd;
        border-bottom: none;
    }

    .header-row:last-child, .row:last-child {
        border-bottom: 1px solid #ddd;
    }
    .haeder-row div {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
    .row div {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
    .header-row div, .row div {
        flex: 1;
        padding: 8px;
        text-align: left;
        border-left: 1px solid #ddd;
        overflow: hidden; /* Oculta el contenido que excede el tamaño de la celda */
        text-overflow: ellipsis; /* Agrega puntos suspensivos */
    }

    .header-row div:first-child, .row div:first-child {
        border-left: none;
    }

    .header-row {
        background-color: #f2f2f2;
    }

    .row:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .row:nth-child(even) {
        background-color: #e6e6e6;
    }
    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:32px;
        padding: 1.5rem;
    }
    input.readonly-input {
        flex: 1;
        padding: 8px;
        border: none;
        background: none;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        cursor: default;
    }
</style>
<div class="w-full container-flex">
    <h1 class="w-full title">Total Respuestas {{ total }}</h1>
    <!-- Podrías mantener un botón para enviar todos si lo necesitas -->
</div>

<ul class="table">
    <li class="header-row">
        <div>Acción</div>  <!-- Botón de Publicar -->
        <div>Enterprise ID</div>
        <div>Year</div>
        <div>Quarter</div>
        <div>Word</div>
        <div>Frequency Word</div>
        <div>Frequency Comments</div>
        <div>Frequency Employees</div>
        <div>Total Answers</div>
        <div>Total Comments</div>
        <div>Total Employees</div>
        <div>Total Employees Commenting</div>
        <div>Word Frequency Ratio</div>
        <div>Employee Commenting Ratio</div>
    </li>

    {% for wf in word_frequencies %}
    <form action="{{ url_for('word_frequencies.post_word_frequencies') }}" method="post">
        <li class="row">
            <div><button type="submit" class="button">Publicar</button></div>
            <input type="text" name="enterprise_id" value="{{wf.enterprise_id}}" hidden>
            <input class="readonly-input" type="text" name="year" value="{{wf.year}}" readonly>
            <input class="readonly-input" type="text" name="quarter" value="{{wf.quarter}}" readonly>
            <input class="readonly-input" type="text" name="word" value="{{wf.word}}" readonly>
            <input class="readonly-input" type="text" name="frequency_word" value="{{wf.frequency_word}}" readonly>
            <input class="readonly-input" type="text" name="frequency_comments" value="{{wf.frequency_comments}}" readonly>
            <input class="readonly-input" type="text" name="frequency_employees" value="{{wf.frequency_employees}}" readonly>
            <input class="readonly-input" type="text" name="total_answers" value="{{wf.total_answers}}" readonly>
            <input class="readonly-input" type="text" name="total_comments" value="{{wf.total_comments}}" readonly>
            <input class="readonly-input" type="text" name="total_employees" value="{{wf.total_employees}}" readonly>
            <input class="readonly-input" type="text" name="total_employees_commenting" value="{{wf.total_employees_commenting}}" readonly>
            <input class="readonly-input" type="text" name="word_frequency_ratio" value="{{ '{:.3f}'.format(wf.word_frequency_ratio()) }}" readonly>
            <input class="readonly-input" type="text" name="employee_commenting_ratio" value="{{ '{:.3f}'.format(wf.employee_commenting_ratio()) }}" readonly>
        </li>
    </form>
    {% endfor %}
</ul>
{% endblock %}