{% extends "layouts/app.html" %}

{% block content %}

<style>
    #welcomeMessage {
        width: 100%;
        margin-top: 40px;
        font-size: 26px;
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
</style>
<script>
    $("#welcomeButton").click(function(){
        $.post("/welcome-message", function(data){
            $("#welcomeMessage").text(data.message);
        });
    });
  </script>
    <p id="welcomeMessage"></p>
</div>




  
{% endblock %}
